#reviews {
  text-align: center;
  h1 {
    margin-top: 2rem;
    font-size: 2rem;
    color: $text-white;
  }
  .carousel-wrapper {
    width: 90%;
    overflow: hidden;
    margin: 3rem auto;

    .carousel {
      transform-style: preserve-3d;
      position: relative;

      .review-card {
        position: absolute;
        opacity: 0;
        top: 0;
        width: 100%;
        margin: auto;
        padding: 1rem 4rem;
        z-index: 100;
        transition: transform 500ms, opacity 500ms, z-index 500ms;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &.initial,
        &.active {
          opacity: 1;
          position: relative;
          z-index: 900;
        }

        &.prev,
        &.next {
          z-index: 800;
        }

        &.prev {
          transform: translateX(-100%); /* Move 'prev' item to left */
        }

        &.next {
          transform: translateX(100%); /* Move 'next' item to left */
        }

        .review-img {
          border-radius: 50%;
          width: 125px;
          height: 125px;
        }

        h3 {
          margin: 1rem 0 0.5rem 0;
        }

        p {
          margin-top: 2rem;
          color: $text-grey;

          span {
            font-weight: bold;
          }
        }

        .stars {
          margin-top: 1rem;
          color: $primary-color;
        }
      }

      .carousel_button--prev,
      .carousel_button--next {
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
        color: #fff;
        transform: translateY(-50%);
        border-radius: 50%;
        cursor: pointer;
        z-index: 1001; /* Sit on top of everything */

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .carousel_button--prev {
        left: 0;
      }
      .carousel_button--next {
        right: 0;
      }
    }
  }
}
