$bg-dark: #333;
$bg-light: #f4f4f4;

$bg-image-overlay: rgba(0, 0, 0, 0.4);

$primary-color: #c01610e1;
$light-color: #fff;
$dark-color: #000;

// Font stack
$font-stack: "Roboto", sans-serif;

// Website Width
$website-width: 1100px;

// Text color
$text-white: #fff;
$text-grey: #ddd;
$text-black: #000;
